<div class="content__post" style="background-image: url(<%= tweet.image %>);">
  <% if current_user && tweet.user_id == current_user.id %>
    <div class="more">
      <span><%= image_tag 'arrow_top.png' %></span>
      <ul class="more_list">
        <li>
          <%= link_to '編集', edit_tweet_path(tweet) %>
        </li>
        <li>
          <%= link_to '削除', tweet_path(tweet), :method => :delete %>
        </li>
      </ul>
    </div>
  <% end %>
  <p>
    <%= br(tweet.text) %>
  </p>
  <span class="name">
    <%=  tweet.likes.count %>
    <% unless Like.exists?(user_id: current_user.id, tweet_id: tweet.id)%>
      <%= form_tag("/likes?tweet_id=#{tweet.id}", :method => :post) do %>
        <input type="submit" value="Like!">
      <% end %>
    <% else %>
      <%= form_tag("/likes/tweet.id/?tweet_id=#{tweet.id}", :method => :delete) do %>
        <input type="submit" value="Not Like!">
      <% end %>
    <% end %>
    <a href="/users/<%= tweet.user_id %>">
      <span>投稿者</span><%= tweet.user.nickname %>
    </a>
  </span>
</div>