<div class="form">
  <div class="contents row">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h3>
      ログイン
    </h3>

    <div><%= f.email_field :email, autofocus: true, :placeholder => "E-mail" %></div>

    <div>
      <%= f.password_field :password, autocomplete: "off", :placeholder => "Password" %></div>

    <div><%= f.submit "Login" %></div>
  <% end %>


  <%= render "users/shared/links" %>
  </div>
</div>