<div class="form">
  <div class="contents row">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <h3>
        会員登録
      </h3>

      <div>
      <%= f.text_field :username, autofocus: true, :placeholder => "Nickname"%></div>
      <div>

      <div>
        <%= f.email_field :email, autocomplete: "off", :placeholder => "E-mail" %></div>

      <div>
        <%= f.password_field :password, autocomplete: "off", :placeholder => "Password" %></div>


      <div><%= f.submit "LOGIN" %></div>
    <% end %>
  </div>
</div>